:root {
    --background-dark: #2B7A78;
    --background-medium: #3AAFA9;
    --accent: #17252A;
    --background-light: #DEF2F1;
    --text-color: #FEFFFF;
    --sidebar-width: 250px;
}
html {
    scroll-behavior: smooth;
}

.saira-<uniquifier> {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" <width>;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    background-color: var(--background-medium);
}



.profile-container {
    padding: 20px;
    text-align: center;
    background-color: var(--accent);
}

.profile-picture {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border: 5px solid var(--background-light);
    object-fit: cover;
}

.sidebar {
    background-color: var(--accent);
    width: var(--sidebar-width);
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}

.sidebar-nav {
    width: 100%;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.sidebar-nav ul li a:hover {
    color: var(--background-dark);
    transition: 0.3s;
}

.sidebar-nav ul li a {
    color: var(--background-light);
    font-weight: normal;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
}

.main-content {
    margin-left: var(--sidebar-width);
    padding: 0 40px;
    color: var(--text-color);
    background-color: var(--background-medium);
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content, .bio-content {
    margin-bottom: 10px;
}

.header-content p {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

.header-content .highlight {
    color: var(--accent);
    text-decoration: none;
}

.header-content .highlight:hover {
    color: var(--background-light);
}
h1 {
    font-size: 3em;
}

.name-text {
    color: var(--background-light);
    font-size: 3em;
    font-weight: bolder;
}

.surname {
    color: var(--accent);
    font-weight: 1000;
}

.social-icons {
    display: flex;
    justify-content: start;
    background-color: var(--background-medium);
}

.social-icon {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: var(--background-light);
    background-color: var(--accent);
    border-radius: 50%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.social-icon i {
    font-size: 1.5em;
}

.experience-section {
    background-color: var(--background-medium);
    padding: 0 20px;
    margin-left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100svh;
    overflow-y: scroll;
}

.experience-section h2 {
    color: var(--background-light);
    font-size: 3rem;
    font-weight: 1000;

    padding-bottom: 5px;
}

.job {
    background-color: var(--background-dark);
    padding: 15px;
    margin-bottom: 10px;
}

.job h3 {
    color: var(--text-color);
    margin-top: 0;
}

.company {
    font-weight: bold;
    color: var(--text-color);
}

.job-description {
    color: var(--text-color);
    font-size: 0.9em;
}

.dates {
    color: var(--accent);
    font-weight: 600;
    font-style: italic;
    text-align: right;
}

.skill-section {
    display: flex;
    padding: 0 20px;
    margin-left: var(--sidebar-width);
    flex-direction: column;
    justify-content: start;
    height: 100svh;
}

.skill-section h2 {
    color: var(--background-light);
    font-size: 3rem;
    font-weight: 1000;
    padding-bottom: 5px;
}

.skill-set {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-top: 2em;
}


.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 10px;
    padding: 2em;
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-5px);
    border-color: var(--background-dark);
}

.skill-icon {
    margin-bottom: 1em;
}

.skill-icon img {
    max-width: 100%;
    height: 200px;
}

.skill-title {
    color: var(--background-light);
    font-size: 1.6em;
}

@media (max-width: 1024px) {
    .skill-set {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .overview-description {
        font-size: 0.9em;
    }

    .skill-set {
        grid-template-columns: 1fr;
        gap: 2em;
    }
}
